*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img.jpg);
    object-fit: contain;
    
}
.form{
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 300px;
    
}
.reg{
    padding: 10px;
    height: 400px;
    width: 700px;
    background-color: rgb(18, 157, 216);
    border: 7px solid rgb(93, 111, 114);
    border-radius: 18px;
}
hr{
    border:1px solid rgb(93, 111, 114);
}
.header{
    text-align: center;

}
.input{
    font-size: 25px;
    padding-top: 10px;
    

}
.input input{
    border-radius: 4px;
    width: 100%;
    height: 25px;
}
.date{
    display: flex;
}
#submit{
    background-color: rgb(93, 111, 114);
    margin-top: 40px;
    height: 35px;
    color: #ffff;
}

.btn{
    height: 40px;
    padding: 3px;
    color: rgb(18, 157, 216);
    background: transparent;
    font-size: 15px;
    border-radius: 4px;
}
.last{
    justify-content: space-evenly;
    margin-right: 15px;
}

